<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <title id="page-title" th:text="'Tambah Jabatan'"></title>
</head>
<body>
<div id="Content" class="container-full-bg">
    <div class="container vertical-center" style="padding-top: 32px;">
        <h1 th:text="'Tambah Pegawai'"></h1>
        <div class="card my-5">
        	<div class="container">
        		<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST" style="padding-top:15px">
            	<div class="form-group">
            		<label for="nama">Nama :</label>
            		<input type="text" name="nama" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="tempatLahir">Tempat Lahir :</label>
            		<input type="text" name="tempatLahir" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="tanggalLahir">Tanggal Lahir :</label>
            		<input type="date" name="tanggalLahir" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="tahunMasuk">Tahun Masuk :</label>
            		<input type="text" name="tahunMasuk" class="form-control">
            	</div>
            	<div class="form-group">
            		<label for="provinsi">Provinsi :</label>
            		<select class="form-control" id="provinsi">
            		  <option disabled="disabled" selected="selected" >Pilih Provinsi</option>
					  <option th:each="provinsi : ${ProvinsiList}" 
					          th:value="${provinsi.getId()}" 
					          th:text="${provinsi.getNama()}"></option>
					</select>
            	</div>
            	<div class="form-group">
            		<label for="instansi">Instansi :</label>
            		<select class="form-control" id="instansi" name="instansi">
					  <option disabled="disabled" selected="selected" >Pilih Instansi</option>
					</select>
            	</div>
            	
            	<div class="form-group">
            		<label for="jabatan">Jabatan:</label>
            		<div th:each="jabatan,iterationStats : *{jabatanPegawaiList}" style="padding:10px">
            			<select class="form-control" th:field="*{jabatanPegawaiList[__${iterationStats.index}__]}" >
					  		<option th:each="jabatann : ${JabatanList}" th:value="${jabatann.id}" th:text="${jabatann.nama}" ></option>
						</select>
						
            		</div>
            		<button type="submit" name="addRow" class="btn">Tambah Jabatan Lainnya</button>
            		
            	</div>
            	
            	
            	<div class="card-body">
                	<input type="submit" name="submit" class="btn btn-primary"  value="Tambah">
            	</div>
            </form>
        	</div> 
        </div>
    </div>

</div>

</body>
</html>